/* Fonts */
@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Bernier Distressed';
  src: url('../assets/fonts/BERNIERDISTRESSED-REGULAR.OTF') format('opentype');
}

/* Basic */

body {
  font-family: 'PT Sans', Arial, sans-serif;
  color: #2b2b2b;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bernier Distressed', serif;
  font-weight: 400;
}

